{{#auto-focus}}
  <div class="focus-me" tabindex=-1></div>
{{/auto-focus}}

<ul>
  {{#each items as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>

<button onclick={{action "addItem"}}>Add item</button>

<button onclick={{action "doFoo"}}>Do foo</button>

<button onclick={{action "showMe"}}>Show me</button>

{{#if showMe}}
  Showing me
{{/if}}